<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Assets/css/estilos.css">
    <title>Estudio 13 Tattoo</title>
  </head>

  <body>
    <header>
      <div class="logo">
        <a href="../Layouts/index.html">
        <img src="../Assets/img/Logos/LOGO1.png" alt="LOGO">
        </a>
      </div>

      <div class="nav">
        <nav>
         <ul class="nav__items">
          <li class="item"> <a class="item__link" href="#us">Quienes somos</a></li>
           <li class="item"> <a class="item__link" href="#artists">Artistas</a></li>
           <li class="item"> <a class="item__link" href="#turnos">Turnos</a></li>
           <li class="item"> <a class="item__link" href="../Layouts/Galery.html" target="_blank">Galería</a></li>
         </ul>
        </nav>
      </div>
    </header>

    <main>
      <section id="banner">
        <img src="../Assets/img/Random/banner.png" alt="banner">
      </section>

      <section id="us">
        <h2  class="section__title">QUIENES SOMOS</h2>
        <p class="section__paragraph">Si estás en Mendoza pasa por nuestro local! En Estudio 13 Tattoo te atendemos con nuestra mejor cara! Somos Pablo y Ramiro, y en nuestro estudio queremos darte la atención que necesitás para tu tatuaje: asesoramiento, profesionalismo y un momento agradable. Mientras te tatuamos escuchamos música, en los recreos tomamos mate (cada uno con el suyo) y en toda la sesión te aseguramos una experiencia única, con la buena onda y buena música necesaria para tu momento tattoo!<br>Nos hacía falta una tercera pata para equilibrar el asunto, así que sumamos al gran Nahuel. Somos 3 artistas comprometidos con los clientes y la tinta que quieran llevar. <br>Veni a conocernos!</p>
        <img src="../Assets/img/Random/PabloYRami.png" alt="Artistas">
      </section>

      <section id="artists">
        <h2 class="section__title">ARTISTAS</h2>
          <div class="artist">
            <h4 class="artist__title">EL PABLITO</h4>
            <p class="artist__paragraph">Ponete cómodo/a y disfrutá, con el Pablo cada tatuaje es un "MANSO MOMENTO" y el se va a encargar de recordartelo en toda la sesión. Meticuloso, un buen improvisador con las agujas: <a class="artist__link" href="https://www.instagram.com/barba_roja_tattoo/">@barba_roja_tattoo</a> te espera en el estudio!</p>
            <img src="../Assets/img/Random/Pablo.png" alt="Pablo">
          </div>

          <div class="artist">
            <h4 class="artist__title">EL RAMI</h4>
            <p class="artist__paragraph">Sentate y confiá, él te va a hacer unos chistes para aflojar: "estoy nervioso, es la primera vez que tatúo". A veces callado, la tinta es su forma de expresarse (tranqui, cuando está enojado no agarra las agujas). El <a class="artist__link" href="https://www.instagram.com/r_ramirez_40/">@r_ramirez_40</a> te espera en el estudio!</p>
            <img src="../Assets/img/Random/Rami.png" alt="Ramiro">
          </div>

          <div class="artist">
            <h4 class="artist__title">EL NIÑO VINTAGE</h4>
            <p class="artist__paragraph">Como dice Nahuel, él hace tattoos con responsablidad y amor. Desde Batman hasta un salvaje Goku te pueden sorprender: <a class="artist__link" href="https://www.instagram.com/elniniovintage/">@elniniovintage</a> te espera en el estudio!</p>
            <img src="../Assets/img/Random/Nahuel.png" alt="Nahuel">
          </div>

      </section>

      <section id="turnos">
        <h2 class="section__title">TURNOS</h2>
        <h4>Recomendaciones al momento de pedir un turno y presupuesto</h4>
        <ul>
          <li>Saber tamaño del tatuaje deseado.</li>
          <li>Tener imagenes de referencia en lo posible.</li>
          <li>Aclarar estilo del tatuaje. En caso de no saberlo, sólo tener en cuenta si es a color o no.</li>
          <li>Te asesoramos sin cargo! Podes traer tu idea y en el estudio llegamos a tu diseño final.</li>
        </ul>
        <h5 class="section__title">Podes llenar el siguiente formulario con tu consulta</h5>
        <div class="cognito">
          <script src="https://www.cognitoforms.com/s/Ccr1iGNDOkuQIKML-nR7dQ"></script>
          <script>Cognito.load("forms", { id: "1" });</script>
        </div>
       </section>
      </section>

    </main>

    <footer>
      <h1>CONTACTO</h1>
            <h6>WhatsApp: +54 9 2615359792</h6>
            <h6>Dirección: Formosa 271, Ciudad. <br>Mendoza</h6>
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3349.8204452689743!2d-68.84225558525551!3d-32.90291527700487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e096b52e98df1%3A0x93a891df6d1510cd!2sFormosa%20271%2C%20M5502%20BCC%2C%20Mendoza!5e0!3m2!1ses!2sar!4v1623899723527!5m2!1ses!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        <div class="redes__container">
            <a class="redes__logo col-12" href="https://www.instagram.com/estudio13_mza/" target="_blank">
              <img src="../Assets/img/Logos/IG.png" alt="InstagramLogo">
            </a>
            <a class="redes__logo col-12" href="https://www.facebook.com/studio13mendoza/" target="_blank">
              <img src="../Assets/img/Logos/FB.png" alt="FacebookLogo">
            </a>
          </div>

    </footer>

  </body>
</html>
